<h2 class="page-title">Upcoming Shows:</h2>

<div id="shows">
<% @shows.each do |show| %>
  <div class="show">
    <p>
      <span class="date"><%= show.date.strftime('%b %d')%></span> - <%= show.venue %> <%= "(#{show.info})" unless show.info.blank? %> // <%= show.city %> <% if current_user %>
                                          <br /><%= link_to "edit", edit_show_path(show), :class => "small" %> |
                                                <%= link_to "delete", show_path(show), :class => "small", 
                                                  :data => {  :method => :delete, 
                                                              :confirm => "You sure you wanna delete this show?" } %>
                                        <% end %>
    </p>
    
  </div>
<% end %>
</div>