<div id="shows">
  <h2 class="page-title">Upcoming Shows:</h2>
  <table>
    <tr id="header">
      <th>Date</th>
      <th>Venue</th>
      <th>Location</th>
      <th>Tickets</th>
    </tr>
  <% @shows.each do |show| %>
    <tr class="show">
      <td class="date"><%= show.date.strftime('%b %d')%></td>
      <td>
        <% if show.venue_link %>
          <%= link_to show.venue, show.venue_link, :target => "_new" %>
        <% else %>
          <%= show.venue %>        
        <% end %>
        <span class="info"><br />
<%= show.info unless show.info.blank? %></span></td>
      <td><%= show.city %></td>
      <td>
        <% if show.tickets_link %>
          <%= link_to "tickets", show.tickets_link, :class => "tickets", :target => "_new" %>
        <% end %>
        <% if current_user %>
        <br /><%= link_to "edit", edit_show_path(show), :class => "small" %> |
              <%= link_to "delete", show_path(show), :class => "small",  :data => {  :method => :delete, :confirm => "You sure you wanna delete this show?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
