<h1>Your cart</h1>
<table>
  <tr>
    <th>Quantity</th>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <% @cart.line_items.each do |item| %>
  <tr>
    <td><%= item.quantity %></td>
    <td><%= item.product.title %></td>
    <td><%= number_to_currency item.total_price %></td>
  </tr>
  <% end %>
  <tr id="total">
    <td colspan="2">Total</td>
    <td><%= number_to_currency @cart.total_price %></td>
  </tr>
</table>

<%= button_to "Empty your cart", cart_path, :method => :delete, :data => { :confirm => "Are you sure?" } %>
