<div id="product">
  <h2><%= @product.title %></h2>
  <div id="description">
    <%= simple_format @product.description %>
  </div>
  <div id="images">
    <% @product.product_images.each do |image| %>
      <%= image_tag image.image_url(:med) %>
    <% end %>
  </div>
  <p id="price"><%= number_to_currency @product.price_in_dollars %></p>
  <div class="actions">
    <%= link_to 'Add to Cart', line_items_path(:product_id => @product),
              :data => { :method => :post, :remote => true },
              :class => "button" %>
  </div>
  <% if admin %>
    <div id="links">
      <%= link_to 'edit', edit_product_path(@product), class: 'button' %> |
      <%= link_to 'delete', product_path(@product),
          :data => { :method => :delete, :confirm => "Are ya sure Jimmy?" } %>
    </div>
  <% end %>
</div>
