<!DOCTYPE html>
<html class="<%= @html_class %>">
<head>
  <title>Hearts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <%= render 'layouts/nav'%>
    <div id="logo">
      <%= link_to content_tag(:h1, "the Drunken Hearts"), root_path %>
    </div>
  </header>
  <div id="content">
    <div id="inner">
      <% flash.each do |key, value| %>
        <div class='flash' id='<%= key %>'>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <footer>
    <p><%= link_to "design by Sign&#233;", "#" %> | <%= link_to "site by IBD", "http://www.ignoredbydinosaurs.com" %></p>
  </footer>
  <%= link_to "login", new_user_session_path, :class => "login" %>
</body>
</html>
